$primary-color: #1b1b1dff;
$red-color: #ff4436ff;
$orange-color: #ff9036ff;
$blue-color: #2ca4a0ff;

#step3{
  display: flex;
  flex-wrap: wrap;
}

.step3-command-container{
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.step3-command-container i{
  cursor: pointer;
}

#JP-container{
  width: 50%;
  height: auto;
  position: relative;
}

.movement-image{
  width: 70%;
  height: auto;
}

#step3 .visible{
  opacity: 1;
}

#step3 .hidden{
  opacity: 0;
  transition: opacity 0.5s linear;
}

#first-movement-image{
  position: relative;
}

.play-item, .repeat-item{
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}

.play-item i, .repeat-item input{
  margin-right: 2%;
}
