$primary-color: #1b1b1dff;
$red-color: #ff4436ff;
$orange-color: #ff9036ff;
$blue-color: #2ca4a0ff;
$primary-color: #1b1b1dff;
$red-color: #ff4436ff;
$orange-color: #ff9036ff;
$blue-color: #2ca4a0ff;
$cursor-width: 30;
$half-cursor-width: $cursor-width / 2;
$thumbnail-width: 80;
$half-thumbnail-width: $thumbnail-width / 2;

#step3-controls{
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 $half-thumbnail-width + px;

}

.step3-commands-container{
  display: flex;
  align-items: center;
  margin-top: 10%;
  position: relative;
  left: -$half-cursor-width + px;
}

.step3-commands-container i{
  cursor: pointer;
}

.play-item, #repeat-item{
  display: flex;
  align-items: center;
  margin-right: 1%;
}

#repeat-item{
  margin-right: 10%;
}

.play-item i, #repeat-item input{
  margin-right: 2%;
}
