$primary-color: #1b1b1dff;
$red-color: #ff4436ff;
$orange-color: #ff9036ff;
$blue-color: #2ca4a0ff;
$primary-color: #1b1b1dff;
$red-color: #ff4436ff;
$orange-color: #ff9036ff;
$blue-color: #2ca4a0ff;
$cursor-width: 30;
$half-cursor-width: $cursor-width / 2;
$thumbnail-width: 80;
$half-thumbnail-width: $thumbnail-width / 2;
$round-arrow-size: $cursor-width * 2;

#step3-chronology {
  width: 100%;
}

#chronology-container {
  overflow: hidden;
  border: solid 2px;
  padding: 20% 0 5% $thumbnail-width + px;
  position: relative;
}

#timeline-container {
  height: 30px;
  display: flex;
  align-items: center;
  position: relative;
}

#go-forward-container,
#go-backward-container {
  background-color: rgba(44, 164, 160, 0.8);
  height: 100%;
  width: 8%;
  position: absolute;
  top: 0;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

#go-forward-container {
  right: 0;
}

#go-backward-container {
  left: 0;
}

#go-forward-container:hover {
  background-color: rgba(44, 164, 160, 0.6);
}

#chronology-container .round-icon {
  background: none;
  border: none;
  width: 70%;
  font-size: 200%;
  height: auto;
  cursor: pointer;
}

.step3-commands-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  position: relative;
  left: -$half-cursor-width + px;
}

.step3-commands-container i {
  cursor: pointer;
}

.play-item,
#repeat-item {
  display: flex;
  align-items: center;
  margin-right: 1%;
}

#repeat-item {
  margin-right: 10%;
  flex-direction: row;
}

.play-item i{
  margin-right: 2%;
}

#repeat-item input {
  margin-right: 8%;
}
