$primary-color: #1b1b1dff;
$red-color: #ff4436ff;
$orange-color: #ff9036ff;
$blue-color: #2ca4a0ff;
$primary-color: #1b1b1dff;
$red-color: #ff4436ff;
$orange-color: #ff9036ff;
$blue-color: #2ca4a0ff;
$cursor-width: 30;
$half-cursor-width: $cursor-width / 2;

#chronology-container {
  height: 30px;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: $half-cursor-width + px;
}

#timeline-chronology {
  width: 100%;
  background-color: grey;
  height: 3px;
  border-radius: 5px;
  position: relative;
  z-index: 0;
}

#timeline-cursor {
  height: $cursor-width + px;
  background-color: rgba(44, 164, 160, 0.8);
  border-radius: 50%;
  position: absolute;
  padding-left: $cursor-width + px;
  cursor: pointer;
  z-index: 1;
}

.time-second-landmark {
  position: absolute;
  height: 20px;
  width: 3px;
  border-radius: 5px;
  background-color: grey;
}

.movement-landmark {
  height: 10px;
  width: 3px;
  border-radius: 5px;
  background-color: $red-color;
  position: absolute;
}


.movement-landmark:last-child{
  height: 20px;
  background-color: grey;
}
