$orange-color: #ff9036ff;
$blue-color: #2ca4a0ff;
$line-width: 3;
$half-line-width: $line-width / 2;
$landmark-width: 10;
$half-landmark-width: $landmark-width / 2;
$cursor-width: 30;
$half-cursor-width: $cursor-width / 2;
$thumbnail-width: 80;
$half-thumbnail-width: $thumbnail-width / 2;

:export {
  halfLineWidth: $half-line-width;
  halfLandmarkWidth: $half-landmark-width;
  halfCursorWidth: $half-cursor-width;
  thumbnailWidth: $thumbnail-width;
  halfThumbnailWidth: $half-thumbnail-width;
}
