$primary-color: #1b1b1dff;

#step-buttons-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.joint-step,
.not-allowed-joint-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% 0 0 0;
}

.joint-step a,
.not-allowed-joint-step div {
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: $primary-color;
  margin-bottom: 10px;
}

.joint-step a:hover {
  font-weight: bold;
}

#root .joint-step .round-icon,
#root .not-allowed-joint-step .round-icon {
  background: none;
  color: $primary-color;
  border: none;
  font-size: 30px;
}

.not-allowed-joint-step div {
  cursor: not-allowed;
}

.not-allowed-joint-step div,
#root .not-allowed-joint-step .round-icon {
  color: gray;
}

#step2 #step-buttons-container #previous-step {
  margin-right: 5%;
}

#step2 #step-buttons-container #next-step {
  margin-left: 5%;
}

#root .nav-icon-not-allowed .round-icon {
  background-color: gray;
  border: solid gray 2px;
}
