@font-face {
  font-family: 'courier_10_pitchregular';
  src: url('/fonts/courier_10_pitch_regular.eot');
  src: url('/fonts/courier_10_pitch_regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/courier_10_pitch_regular.woff2') format('woff2'),
       url('/fonts/courier_10_pitch_regular.woff') format('woff'),
       url('/fonts/courier_10_pitch_regular.ttf') format('truetype'),
       url('/fonts/courier_10_pitch_regular.svg#courier_10_pitchregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'courier_10_pitchbold';
  src: url('/fonts/courier_10_pitch_bold.eot');
  src: url('/fonts/courier_10_pitch_bold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/courier_10_pitch_bold.woff2') format('woff2'),
       url('/fonts/courier_10_pitch_bold.woff') format('woff'),
       url('/fonts/courier_10_pitch_bold.ttf') format('truetype'),
       url('/fonts/courier_10_pitch_bold.svg#courier_10_pitchbold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'courier_10_pitchitalic';
  src: url('/fonts/courier_10_pitch_italic.eot');
  src: url('/fonts/courier_10_pitch_italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/courier_10_pitch_italic.woff2') format('woff2'),
       url('/fonts/courier_10_pitch_italic.woff') format('woff'),
       url('/fonts/courier_10_pitch_italic.ttf') format('truetype'),
       url('/fonts/courier_10_pitch_italic.svg#courier_10_pitchitalic') format('svg');
  font-weight: normal;
  font-style: normal;

}

body {
  margin: 0;
  font-family: "courier_10_pitchregular", 'Courier New', Courier, 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1b1b1dff;
}

#root{
  width: 80%;
  margin: auto;
}

main{
  display: flex;
  flex-direction: column;
}

