$public-path: "//public/";
$fonts-path: $public-path + "fonts/";
$primary-color: #1b1b1dff;
$red-color: #ff4436ff;
$orange-color: #ff9036ff;
$blue-color: #2ca4a0ff;

@font-face {
  font-family: "courier_10_pitchregular";
  src: url($fonts-path + "courier_10_pitch_regular.eot");
  src: url($fonts-path + "courier_10_pitch_regular.eot?#iefix")
      format("embedded-opentype"),
    url($fonts-path + "courier_10_pitch_regular.woff2") format("woff2"),
    url($fonts-path + "courier_10_pitch_regular.woff") format("woff"),
    url($fonts-path + "courier_10_pitch_regular.ttf") format("truetype"),
    url($fonts-path + "courier_10_pitch_regular.svg#courier_10_pitchregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "courier_10_pitchbold";
  src: url($fonts-path + "courier_10_pitch_bold.eot");
  src: url($fonts-path + "courier_10_pitch_bold.eot?#iefix")
      format("embedded-opentype"),
    url($fonts-path + "courier_10_pitch_bold.woff2") format("woff2"),
    url($fonts-path + "courier_10_pitch_bold.woff") format("woff"),
    url($fonts-path + "courier_10_pitch_bold.ttf") format("truetype"),
    url($fonts-path + "courier_10_pitch_bold.svg#courier_10_pitchbold")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "courier_10_pitchitalic";
  src: url($fonts-path + "courier_10_pitch_italic.eot");
  src: url($fonts-path + "courier_10_pitch_italic.eot?#iefix")
      format("embedded-opentype"),
    url($fonts-path + "courier_10_pitch_italic.woff2") format("woff2"),
    url($fonts-path + "courier_10_pitch_italic.woff") format("woff"),
    url($fonts-path + "courier_10_pitch_italic.ttf") format("truetype"),
    url($fonts-path + "courier_10_pitch_italic.svg#courier_10_pitchitalic")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "courier_10_pitchregular", "Courier New", Courier,
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $primary-color;
  background: url($public-path + "media/images/movements/position-neutre.svg") no-repeat;
  background-size: cover;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 2px;
  margin: 2%;
  position: relative;
  background: rgba(255, 255, 255, 0.98);
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex: 1;
}

.main-content {
  width: 84%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > section {
  margin-bottom: 40px;
}

p {
  margin: 0;
  width: 100%;
  text-align: justify;
}

.main-content .inline-link{
  text-decoration: underline;
  padding: 0
}

img {
  display: block;
}

#root .round-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $red-color;
  width: 30px;
  height: 30px;
  color: white;
  font-weight: bold;
  border: solid $red-color 2px;
  min-width: 30px;
  cursor: pointer;
}

.instruction {
  display: flex;
  line-height: 30px;
  justify-content: center;
  text-align: left;
}

#root .instruction .round-icon {
  background-color: $orange-color;
  border: none;
  margin-right: 10px;
}

.incription-hook {
  margin-left: 40px;
}

.edition-button {
  color: $orange-color;
  font-size: 130%;
  cursor: pointer;
  margin: 5% 1%;
  display: block;
}

.error-message {
  font-size: 80%;
  color: gray;
}

.hidden {
  display: none;
}

.visible {
  display: flex;
}

.trash {
  color: grey;
}
