$primary-color: #1b1b1dff;
$red-color: #ff4436ff;
$orange-color: #ff9036ff;
$blue-color: #2ca4a0ff;

header {
  margin-bottom: 0px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-inline-start: 0;
}

nav #icon-menu {
  margin-bottom: 8px;
}

nav #link-menu {
  justify-content: space-between;
}

nav #icon-menu li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar-element-0 {
  margin-left: calc((25% - 30px) / 2);
}

#navbar-element-3 {
  margin-right: calc((25% - 30px) / 2);
}

nav #link-menu li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.line,
li hr {
  width: 90%;
}

nav ul li a,
nav ul li a:visited {
  text-decoration: none;
  color: $primary-color;
}

nav ul li span.active {
  color: #ff4436;
  background-color: white;
  border: solid 2px #ff4436;
}
