$primary-color: #1b1b1dff;
$red-color: #ff4436ff;
$orange-color: #ff9036ff;
$blue-color: #2ca4a0ff;

#step-buttons-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.joint-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.joint-step a {
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: $primary-color;
  margin-bottom: 10px;
}

.joint-step a:hover {
  font-weight: bold;
}

.joint-step .round-icon {
  background: none;
  color: $primary-color;
  border: none;
  font-size: 30px;
}

#previous-step {
  margin-right: 5%;
}

#next-step {
  margin-left: 5%;
}
