$primary-color: #1b1b1dff;
$red-color: #ff4436ff;
$orange-color: #ff9036ff;
$blue-color: #2ca4a0ff;
$element-main-height: 25;

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 6%;
  position: relative;
}

h1 {
  font-weight: normal;
  text-align: center;
}
