$primary-color: #1b1b1dff;
$red-color: #ff4436ff;
$orange-color: #ff9036ff;
$blue-color: #2ca4a0ff;

.staves-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.stave {
  height: 25%;
  width: 100%;
  position: relative;
  background: $red-color;
  margin: 50px 0;
  display: flex;
}

.added-note{
  width: 5%;
  padding: 5px 0;
}
