$red-color: #ff4436ff;

.staves-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.stave {
  max-height: 80px;
  width: 100%;
  position: relative;
  background: $red-color;
  display: flex;
  padding: 0 10px;
}

#stave-1 {
  margin-bottom: 5%;
}

.added-note {
  width: 5%;
  padding: 5px 0;
}
